*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.center{
    max-width: 1100px;
    margin:0 auto;
    padding:0 2%;
    display: flex;
    flex-wrap: wrap;
}


header{
    background-color: white;
    padding:20px 0;
    border-bottom:1px solid rgb(200,200,200);
}

.logo{
    color: #16507b;
}

.logo h2{
    font-weight: normal;
    font-size: 22px;
}

.menu{
    width: 80%;
    text-align: right;
}

.menu a{
    color: #124265;
    font-size: 14px;
    text-decoration: none;
    display: inline-block;
    margin-right: 20px;
    transition: 0.4s;
}

.menu a:hover{
    color: #007bff;
}

.menu .btn-menu{
    background-color: #007bff;
    display: inline-block;
    padding:8px 16px;
    color: white;
    border-radius: 6px;
}

.menu .btn-menu:hover{
    background-color: #124265;
    color: white;
}

.diferenciais{
    background-image: url('img/hero-bg.jpg');
    display: flex;
    align-items: center;
}

.diferencial-single{
    border-radius: 10px;
    padding: 40px 50px;
    align-items: center;
    background-color: #ffffff;
    margin: 2%;
    box-shadow: 1px 1px 15px #000000;
    
}


.diferencial-single h2 a{
    color: #124265;
    font-size: 30px;
    font-weight: normal;
    text-decoration: none;
    display: inline-block;
    margin-right: 20px;
    transition: 0.4s;
    
}

.diferencial-single h2 a{
    transform:scale(1,1);
    transition:1s;
}

.diferencial-single h2 a:hover{
    transform:scale(1.1,1.1);
}


.diferencial-single a:hover{
    color: #007bff;
}

.diferencial-single p{
    color: #000;
    font-size: 19px;
    margin: 10px 0;
}

.diferencial-duo{
    border-radius: 10px;
    padding: 40px 50px;
    align-items: center;
    background-color: #ffffff;
    margin: 2%;
    box-shadow: 1px 1px 15px #000000;
    
}


.diferencial-duo h2 a{
    color: #124265;
    font-size: 30px;
    font-weight: normal;
    text-decoration: none;
    display: inline-block;
    margin-right: 20px;
    transition: 0.4s;
    
}

.diferencial-duo h2 a{
    transform:scale(1,1);
    transition:1s;
}

.diferencial-duo h2 a:hover{
    transform:scale(1.1,1.1);
}


.diferencial-duo a:hover{
    color: #007bff;
}

.diferencial-duo p{
    color: #000;
    font-size: 19px;
    margin: 10px 0;
}